/* color palette from <https://github.com/vuejs/theme> */
:root {
}

/* semantic color variables for this project */
:root {
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
} */

body {
}
